
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "Inter", sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
   

}
header h2{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    padding: 15px 25px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 600;
}
