
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
   }
body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden;

}
section{
    width: 1240px;
    padding: 0 10px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
   

}
header h2{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    padding: 15px 25px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 600;
}
/* banner */

.banner{
    width: 100vw;
    height: 70vh;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
   
}
.banner h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.banner p{
    font-size: 16px;
    color: #6f737b;
    text-align: center;
}
.banner_btn{
    background-color: black;
    color: white;
   transition: all 5s;
}
.center{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

/* why development */
.why_development{
    background-color: #0D132105;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 20px;
   
}
.why_heading {
    text-align: center;
    padding: 30px 0;
    
}
.why_heading h4{
    font-size: 32px;
    font-weight: 800;
}
.why_heading p{
    font-size: 16px;
    color: #6f737b;
    margin-top: 10px;
}

.why_content{
    display: flex;
   align-items: center;
   justify-content: space-around;
    padding: 20px 0;
    
   
    
}
.content_left{
    width: 50%;
   
   
}
.content_left h4{
    font-size: 36px;
    font-weight: 700;
}
.content_left p{
    color: #0D1321;
    padding-top: 16px;
}
.content_left button{
    margin-top: 32px;
}

.content_right img{
    width: 400px;
   
}

/* inspiration */

.inspiration{
    padding: 30px 0;
}
.inspiration_heading h4{
    font-size: 36px;
    font-weight: 700;
}
.inspiration_heading p{
    color: #0D1321;
    padding-top: 16px;
}
.inspiration_video {
    text-align: center;
    padding-top: 16px;
   
}

.inspiration_video  iframe {
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
}
.inspiration{
    padding: 30px 0;
}
/* my target */
.my_target{
    padding: 30px 0;
}
.target_headding h4{
    font-size: 36px;
    font-weight: 700;
}
.target_headding p{
    color: #0D1321;
    padding-top: 16px;
}
.target_con_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
}
.target_con{
    background-color: antiquewhite;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33.3%;
    height: 300px;
    border-radius: 10px;
}
.target_con:nth-child(1){
    background-color: #FF4C1E0D;
}
.target_con:nth-child(2){
    background-color: #004CE80D;
}
.target_con:nth-child(3){
    background-color: #FFDF000D;
}
.target_con img{
    width: 60px;
}

.target_con p{
    color: #0D1321;
}
.target_con a{
    color: #0D1321;
    text-decoration:underline;
}

/* next target */
.my_next_target{
    padding: 30px 0;
}
.next_target_headding h4{
    font-size: 36px;
    font-weight: 700;
}
.next_target_headding p{
    color: #0D1321;
    padding-top: 16px;
}
.next_target_con_main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
   
}
.next_target_con{
   border: 2px solid black;
    padding: 40px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
}
.next_target_con img{
    width: 120px;
    height: auto;
    object-fit: contain;
}

.next_target_text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.next_target_text p{
    color: #0D1321; 
}
.next_target_text a{
   font-size: 16px;
   font-weight: bold;
   text-decoration: underline;
   color: black;
}

/* support */

.support{
    background-image: url(../assets/handshake.jpg);
    height: 40vh;
    width: 82vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.578);
    background-blend-mode: overlay;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
  
}   
.support_con{
    color: #fff;
    text-align: center;
}
.support_con h4{
    font-size: 32px;
    font-weight: 700;
}
.support_con p{
    font-size: 18px;
    font-weight: 500;
}

.support_from from input[type="text"]{
    height: 50px;
    width: 600px;
    border-radius: 7px;
}
.support_from from input::placeholder{
    padding-left: 20px;
}
.support_from from input[type="submit"]{
    height: 51px;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 7px;
}
/* footer */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #c0c3ca;
    padding: 10px 0;
}
.footer_con{
    font-size: 24px;
    font-weight: 600;
}