
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden;

}
section{
    width: 1240px;
    padding: 0 10px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
   

}
header h2{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    padding: 15px 25px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 600;
}
/* banner */

.banner{
    width: 100vw;
    height: 70vh;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
   
  
}
.banner h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.banner p{
    font-size: 16px;
    color: #6f737b;
    text-align: center;
}
.banner_btn{
    background-color: black;
    color: white;
}

/* why development */
.why_development{
    background-color: #0D132105;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 20px;
   
}
.why_heading {
    text-align: center;
    padding: 30px 0;
    
}
.why_heading h4{
    font-size: 32px;
    font-weight: 800;
}
.why_heading p{
    font-size: 16px;
    color: #6f737b;
    margin-top: 10px;
}

.why_content{
    display: flex;
   align-items: center;
   justify-content: space-around;
    padding: 10px 0;
}
.content_left{
    width: 50%;
}
.content_left h4{
    font-size: 36px;
    font-weight: 700;
}
.content_left p{
    color: #0D1321;
    padding-top: 16px;
}
.content_left button{
    margin-top: 32px;
}

.content_right img{
    width: 400px;
   
}